/*!
 * Theme: Purple
 * Package: DashLite v2.6.0
 * Updated: 06.29.2021
 * Author: Softnio
 * Author URI: http://themeforest.net/user/softnio
**/
.nk-sidebar.is-dark { background: #0f192a; border-right-color: #1c2f50; }

.nk-sidebar.is-theme { background: #36206a; border-right-color: #4a2b91; }

.is-dark .nk-sidebar-head { border-color: #1c2f50; }

.is-theme .nk-sidebar-head { border-color: #4a2b91; }

.nk-sidebar.is-dark .user-balance-alt, .nk-sidebar.is-theme .user-balance-alt { color: rgba(255, 255, 255, 0.8); }

.nk-header { background: #f5f6fa; border-bottom-color: #e5e9f2; }

.nk-header.is-dark:not([class*=bg-]) { background: #0f192a; }

.nk-header.is-theme:not([class*=bg-]) { background: #36206a; }

.is-dark .nk-menu-link { color: #8699b2; }

.is-dark .nk-menu-icon { color: #9faec2; }

.is-dark .nk-menu-badge { color: #ccb5ff; background: #1c2f50; }

.is-dark .nk-menu-sub .active > .nk-menu-link, .is-dark .nk-menu-link:hover, .is-dark .active > .nk-menu-link, .is-dark .nk-menu-link:hover .nk-menu-icon, .is-dark .nk-menu-item.active > .nk-menu-link .nk-menu-icon, .is-dark .nk-menu-item.current-menu > .nk-menu-link .nk-menu-icon { color: #a882ff; }

.is-dark .nk-news-icon .icon { color: #854fff; }

.is-dark .nk-news-text .icon { color: #8094ae; }

.is-dark .nk-news-text p span { color: rgba(128, 148, 174, 0.9); }

.is-dark .user-name, .is-dark .nk-news-text p { color: #90a1b8; }

.is-dark .nk-quick-nav-icon { color: #9faec2; }

.is-theme .nk-menu-link { color: #cdb8ff; }

.is-theme .nk-menu-icon { color: #eae1ff; }

.is-theme .nk-menu-badge { color: #efe8ff; background: #4a2b91; }

.is-theme .nk-news-icon .icon { color: #ba9cff; }

.is-theme .nk-news-text .icon, .is-theme .nk-quick-nav-icon, .is-theme .overline-title { color: #d4c2ff; }

.is-theme .nk-news-text p span, .is-theme .nk-menu-heading .overline-title { color: rgba(212, 194, 255, 0.8); }

.is-theme .user-name, .is-theme .nk-news-text p { color: #e6dcff; }

.card-tools-nav li a:before, .nav-tabs .nav-link:after, .progress-bar, .dot-primary, .alert-fill.alert-primary, .badge-primary, .icon-circle, .noUi-connect, .nk-kycfm-label::after, .buysell-pm-label:after, .nk-msg-menu-item a:after, .ui-shady .nk-msg-item.active:after, .ui-shady .nk-msg-item.current:after { background: #854fff; }

.card-bordered.is-dark { border-color: #3a2272; }

.card.is-dark { background: #3a2272; }

.is-dark .nk-wg7-title, .is-dark .nk-wg7-note { color: #d4c2ff; }

.user-avatar, [class^="user-avatar"]:not([class*="-group"]) { background: #a882ff; }

.nk-news-item:hover .nk-news-text .icon { color: #a882ff; }

.nk-menu-link:hover, .nk-menu-link:hover .nk-menu-icon, .nk-menu-item.active > .nk-menu-link .nk-menu-icon, .nk-menu-item.current-menu > .nk-menu-link .nk-menu-icon, .nk-menu-link:hover .count, .nk-menu-sub .nk-menu-link:hover, .nk-menu-sub .active > .nk-menu-link, .nk-menu-sm .nk-menu-link:hover, .nk-menu-main .nk-menu-link:hover, .nk-menu-main .nk-menu-link:focus, .nk-menu-main .nk-menu-item.active > .nk-menu-link, .nk-menu-main .nk-menu-item.current-menu > .nk-menu-link, .nk-menu-main .nk-menu-item:hover > .nk-menu-link, .is-light .nk-menu-link:hover, .is-light .active > .nk-menu-link, .active > .nk-menu-link, .active > .nk-menu-link .count, .nav-tabs .nav-link:focus, .nav-tabs .nav-link.active, .nav-tabs .nav-item.active .nav-link, .nk-menu-footer .nk-menu-icon, .nk-menu-footer .nk-menu-link:hover, .nk-footer-copyright a:hover, .page-link:hover, .list-plain a:hover, .link-check li a:hover, .link-list a:hover, .link-list-opt a:hover, .link-list-plain a:hover, .link-list-menu li.active > a, .link-list-menu a.active, .link-list-menu a:hover, .link-list-menu li.active > a .icon, .link-list-menu a.active .icon, .link-list-menu a:hover .icon, .link-list-menu li.active > a:after, .link-list-menu a.active:after, .link-list-menu a:hover:after, .list-checked li:before, .list-step li.list-step-current:before, .accordion-s2 .accordion-head .title, .accordion-s3 .accordion-head .title, .badge-outline-primary, .badge-dim.badge-primary, .badge-dot.badge-primary, .badge-dim.badge-outline-primary, .alert-primary, .form-clip, .form-text-hint, .search-submit:hover, .nk-news-icon .icon, .nk-refwg-name .title, .nk-wg1-amount .amount, .nk-wgw-add a .title, .nk-wgw-actions a:hover span, .nk-wgw-actions a:hover .icon, .nk-wg4-note span, .nk-kycfm-control:checked ~ .nk-kycfm-label .label-icon, .wallet-item-add a:hover .wallet-icon, .wallet-item-add a:hover .wallet-name, .attach-item .icon, .attach-download:hover span, .nk-reply-meta-info .whom, .nk-msg-tags li > span .icon, .nk-msg-menu-item a:hover, .nk-msg-menu-item.active a, .user-balance, .user-avatar[class*="-primary-dim"], .nk-order-ovwg-data.sell .amount, .nk-order-ovwg-data.sell .title .icon, .nk-wg-action-content p strong, a, .dropzone .dz-message-text span, .nk-switch-icon.active, .link-list-plain a .icon, .chat-upload-option a, .is-unread .chat-context .status, .add-opt:hover .sub-text, .add-opt:hover .icon, .icon[class*="bg-primary-dim"] { color: #854fff; }

a:hover { color: #6926ff; }

.text-primary, .link-primary { color: #854fff !important; }

.link-primary:hover, a.text-primary:hover, a.text-primary:focus, .chat-upload-option a:hover { color: #6926ff !important; }

.border-primary, .nk-kycfm-control:checked ~ .nk-kycfm-label { border-color: #854fff !important; }

.bg-lighter { background-color: #f5f6fa !important; }

.bg-primary { background-color: #854fff !important; }

a.bg-primary:hover, a.bg-primary:focus, button.bg-primary:hover, button.bg-primary:focus { background-color: #621cff !important; }

.bg-primary-dim { background-color: #f3edff !important; }

.text-primary-dim { color: #f3edff !important; }

.alert-primary, .badge-dim.badge-outline-primary { background-color: #f3edff; border-color: #ceb9ff; }

.alert-pro.alert-primary, .badge-primary, .form-control:focus, .form-control.focus, .custom-file-input:focus ~ .custom-file-label, .custom-control-input:focus:not(:checked) ~ .custom-control-label::before, .select2-container--default .select2-selection--single:focus, .select2-container--default.select2-container--focus .select2-selection--multiple { border-color: #854fff; }

.nk-order-ovwg-data.sell, .badge-outline-primary { border-color: #ceb9ff; }

.dropdown-menu-s1 { border-top-color: #854fff; }

.page-item.active .page-link, .custom-control-input:checked ~ .custom-control-label::before, .custom-control-input:not(:disabled):active ~ .custom-control-label::before { background-color: #854fff; border-color: #854fff; }

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before, .custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before, .custom-switch .custom-control-input:disabled:checked ~ .custom-control-label::before { background-color: #b695ff; }

.badge-dim.badge-primary { background-color: #f3edff; border-color: #f3edff; }

.badge-primary.badge-dot { background: transparent; }

.nk-error-head { background: -webkit-linear-gradient(#854fff, #4e2e99); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }

.nav-switch .nav-link.active { background: #854fff; color: #ffffff; }

.icon-avatar, .nk-iv-scheme-icon.is-running { color: #854fff; background-color: #ede5ff; }

.is-dark .nk-wgw-icon { background: #9d72ff; }

.is-dark .nk-wgw-balance .amount-sm, .is-dark .nk-wgw-actions a .icon, .is-dark .nk-wgw-more .btn-trigger { color: #d4c2ff; }

.is-dark .nk-wgw-actions a { color: #d4c2ff; }

.is-dark .nk-wgw-actions { border-color: rgba(212, 194, 255, 0.4); }

.is-dark .nk-wgw-more .btn-trigger:before, .is-theme .nk-quick-nav-icon:before { background-color: #26164b; }

.btn-primary { background-color: #854fff; border-color: #854fff; }

.btn-primary:hover { background-color: #773bff; border-color: #7030ff; }

.btn-primary:focus { background-color: #773bff; border-color: #7030ff; }

.btn-primary.btn-dim { color: #854fff; background-color: #f2ecff; border-color: #f2ecff; }

.btn-dim.btn-outline-primary { color: #854fff; background-color: #f2ecff; border-color: #ceb9ff; }

.btn-dim.btn-outline-primary.btn-white { background-color: #ffffff; }

.btn-outline-primary { border-color: #854fff; color: #854fff; }

.btn-outline-primary:hover { background-color: #854fff; border-color: #854fff; }

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle { background-color: #7a40ff; border-color: #773bff; }

.btn-primary:focus, .btn-outline-primary:focus, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary.btn-dim:focus, .btn-primary.btn-dim:not(:disabled):not(.disabled):active, .btn-primary.btn-dim:not(:disabled):not(.disabled):active:focus, .btn-dim.btn-outline-primary:focus, .btn-dim.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-dim.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus, .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle, .show > .btn-outline-primary.dropdown-toggle:focus { box-shadow: 0 0 0 0.2rem rgba(133, 79, 255, 0.2); }

.btn-outline-light:focus, .btn-outline-light.focus, .btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-light.dropdown-toggle:focus { box-shadow: 0 0 0 0.2rem rgba(128, 148, 174, 0.1); }

.btn-trigger:focus { box-shadow: none; }

.focused .form-control-outlined, .form-control:focus, .form-control.focus, .custom-control-input:focus ~ .custom-control-label::before, .custom-file-input:focus ~ .custom-file-label, .select2-container--default .select2-selection--single:focus, .select2-container--default.select2-container--focus .select2-selection--multiple { box-shadow: 0 0 0 3px rgba(133, 79, 255, 0.1); }

.form-control-simple:focus { box-shadow: none; }

.btn-primary.btn-dim:not(:disabled):not(.disabled):hover, .btn-dim.btn-outline-primary:not(:disabled):not(.disabled):hover, .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle, .btn-primary.disabled, .btn-primary:disabled { background-color: #854fff; border-color: #854fff; }

.form-focus-none:focus { border-color: transparent; box-shadow: none; }

@media (min-width: 992px) { .nk-menu-main > li > .nk-menu-link:before { background: #854fff; }
  .is-theme .nk-menu-main > li > .nk-menu-link { color: #d4c2ff; }
  .is-theme .nk-menu-main > li > .nk-menu-link.nk-menu-toggle:after { color: rgba(212, 194, 255, 0.7); } }

.datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover { background-color: #ede5ff; color: #854fff; }

.datepicker table tr td.today:hover, .datepicker table tr td.today:hover:hover, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today.disabled:hover:hover, .datepicker table tr td.today:active, .datepicker table tr td.today:hover:active, .datepicker table tr td.today.disabled:active, .datepicker table tr td.today.disabled:hover:active, .datepicker table tr td.today.active, .datepicker table tr td.today:hover.active, .datepicker table tr td.today.disabled.active, .datepicker table tr td.today.disabled:hover.active, .datepicker table tr td.today.disabled, .datepicker table tr td.today:hover.disabled, .datepicker table tr td.today.disabled.disabled, .datepicker table tr td.today.disabled:hover.disabled, .datepicker table tr td.today[disabled], .datepicker table tr td.today:hover[disabled], .datepicker table tr td.today.disabled[disabled], .datepicker table tr td.today.disabled:hover[disabled] { background-color: #9e76ff; }

.datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td span:hover, .datepicker table tr td span.focused { background-color: #854fff; }

.code-tag { color: blue; }

.alert-pro { background: #ffffff; color: #526484; }

.nk-menu-badge { color: #aa84ff; background-color: #f3edff; }

.is-theme .nk-sidebar-footer, .is-theme .nk-sidebar-profile-fixed { background: #36206a; border-color: #4a2b91; }

.is-theme .wallet-name, .is-theme .wallet-icon, .is-theme .wallet-balance span, .is-theme .nk-menu-footer .nk-menu-link, .is-theme .sub-text, .is-theme .lead-text span { color: #d4c2ff; }

@media (min-width: 1200px) { .nk-sidebar.is-theme .nk-menu > li:hover > a, .nk-sidebar.is-theme .nk-menu > li.active > a, .nk-sidebar.is-theme .nk-menu > li.current-menu > a, .nk-sidebar.is-theme .nk-menu > li > a:hover, .is-theme .wallet-item a:before { background: #46298a; } }

.nav-switch-s2 .nav-link:hover, .nav-switch-s2 .nav-link:focus { color: #526484; }

.nav-switch-s2 .nav-link.active { color: #364a63; }

.active .nk-ibx-menu-text, .active .nk-ibx-menu-item .icon, .nk-reply-form-nav li a:hover, .nk-reply-form-input .toggle-opt:hover { color: #854fff; }

.nk-ibx-menu li.active { background: #f5f1ff; }

.nk-fmg-menu li.active { background: #f5f1ff; }

.nk-file-name .asterisk .icon, .nk-file-name-text a.title:hover, .nk-file-link:hover .title, .active .nk-fmg-menu-item .icon, .active .nk-fmg-menu-text { color: #854fff; }

.nk-files-view-list .nk-file.selected { background-color: #f0eaff; }

.chat.is-me .chat-msg { background-color: #854fff; }

.kanban-add-task { color: #854fff; }

.kanban-add-task:hover { background: #854fff; border-color: #854fff; }

.actions ul li a { border-color: #854fff; background: #854fff; }

.nk-wizard-simple .steps ul li.done h5, .nk-wizard-simple .steps ul li.done .number, .nk-wizard-simple .steps ul li.current h5, .nk-wizard-simple .steps ul li.current .number { color: #854fff; }

.nk-wizard-simple .steps ul li:after { background: #854fff; }

.invoice-contact ul .icon, .invoice-desc .title, .invoice-bills .table th { color: #854fff; }

.product-gallery .slider-nav .slider-item.slick-current .thumb, .custom-control-pro.no-control .custom-control-input:checked ~ .custom-control-label, .custom-control-pro.no-control .custom-control-input:not(:disabled):active ~ .custom-control-label, .custom-control.color-control .custom-control-label:before { border-color: #854fff !important; }
